
Initial_NN/Lesson6_segmentation/images2/

Initial_NN/Lesson6_segmentation/images/

Initial_NN/Course/simpsons_dataset/

Initial_NN/Lesson6_segmentation/PH2 Dataset images/

Initial_NN/Lesson8_GAN/checkpoints/

Initial_NN/Lesson8_GAN/.ipynb_checkpoints/
